{%extends 'layout.html'%} 
{%block content%}

   <table class="table table-dark">
   <form method="post">
    {% csrf_token %}
    <input type="text" name="user" placeholder="username"><br>
    <input type="email" name="email" placeholder="email"><br>
    <input type="password" name="pass1" placeholder="password"><br>
    <input type="password" name="pass2" placeholder="confirmpassword"><br>
     
    <button class="btn btn-success" type="submit">Add</button>
       
   </form>
 <div>
     {%for message in messages%}
     <h3>{{message}}</h3>
     {%endfor%}
 </div>
</table>    

  {%endblock content%}